body{
    font-family: Arial;
    text-align:center;
    padding:20px;
    background:#f2f2f2;
}

.quiz-box{
    background:white;
    padding:20px;
    border-radius:10px;
    width:60%;
    margin:auto;
}

button{
    padding:10px;
    margin:10px;
    cursor:pointer;
}

@media(max-width:768px){
    .quiz-box{
        width:90%;
    }

    h1{
        font-size:24px;
    }
}